# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
.pytest_cache/

# Variáveis de Ambiente (Segurança)
.env

# IDEs
.vscode/
.idea/

# Docker / Logs
*.log
docker-compose.override.yml

# Ollama Data (Volume do Docker)
ollama_data/